/* Media Query for Mobile */
#what .items {
  display: block;
  /* To adjust for mobile */
  padding: 1rem;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    /* Stack vertically */
    /* Can be better for mobile */
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    top: 110px;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
    /* Hide image */
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
    /* Hide this element */
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
    /* Needed to display map */
    border-top: 4px solid #333;
  }
}

@media(max-height: 568px) {
  /* Media Query for Iphone5/6 */
  #showcase .showcase-content {
    margin-top: -2rem;
    /* Pulls content up */
    top: 140px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}